flask
requests
pyyaml
numpy
pandas
networkx
vertica_python
ortools
webargs
sqlalchemy==1.4.43
sqlalchemy-vertica
scipy
igraph
flask-cors
diskcache
openpyxl
xlrd
retry
flask_apscheduler
python-docx
loguru
